[flake8]
# Ignore style and complexity
# E: style errors
# W: style warnings
# C: complexity
# F401: module imported but unused
# F403: import *
# F811: redefinition of unused `name` from line `N`
# F841: local variable assigned but never used
ignore = E, C, W, F401, F403, F811, F841

exclude =
    .cache,
    .github,
    docs,
    examples,
    jupyterhub/alembic*,
    onbuild,
    scripts,
    share,
    tools,
    setup.py
