[MASTER]
# Ignore git and virtualenv-related folders.
ignore=.git,lib

[MESSAGES CONTROL]
disable=all

# Explicitly whitelist the lint checks we want to have
# Prefer things that catch errors and what not, and not stylistic choices
enable=
    missing-docstring,
    empty-docstring

[REPORTS]
# Do not print a summary report
reports=no

[FORMAT]
# One of the few stylistic things we try to check.
# Modules shouldn't be *too large* - should be broken up
# Feel free to bump this number if you disagree
max-module-lines=2000
