beautifulsoup4[html5lib]
coverage
cryptography
jsonschema
jupyterlab>=3
mock
# nbclassic provides the '/tree/' handler, which we use in tests
# it is a transitive dependency via jupyterlab,
# but depend on it directly
nbclassic
pre-commit
pytest>=3.3
pytest-asyncio>=0.17
pytest-cov
requests-mock
selenium
tbump
virtualenv
