include README.md
include COPYING.md
include setupegg.py
include bower.json
include *requirements.txt

graft jupyterhub
graft scripts
graft share
prune share/jupyter/hub/static/components

# Documentation
graft docs

# docs subdirs we want to skip
prune docs/build
prune docs/gh-pages
prune docs/dist

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
