# using setuptools-scm means we only need to handle _non-tracked files here_

include package-lock.json

# include untracked js/css artifacts, components
graft share

# prune some large unused files from components.
# these patterns affect source distributions (sdists)
# we have stricter exclusions from installation in setup.py:get_data_files
prune share/jupyterhub/static/components/bootstrap/dist/css
exclude share/jupyterhub/static/components/bootstrap/dist/fonts/*.svg
prune share/jupyterhub/static/components/font-awesome/css
prune share/jupyterhub/static/components/font-awesome/scss
exclude share/jupyterhub/static/components/font-awesome/fonts/*.svg
prune share/jupyterhub/static/components/jquery/external
prune share/jupyterhub/static/components/jquery/src
prune share/jupyterhub/static/components/moment/lang
prune share/jupyterhub/static/components/moment/min
