{% extends "page.html" %}

{% macro th(label, key='', colspan=1) %}
<th data-sort="{{key}}" colspan="{{colspan}}">{{label}}
  {% if key %}
  <a href="#"><i class="fa {% if sort.get(key) == 'asc' -%}
                               fa-sort-asc
                           {%- elif sort.get(key) == 'desc' -%}
                               fa-sort-desc
                           {%- else -%}
                               fa-sort
                           {%- endif %} sort-icon">
  </i></a>
  {% endif %}
</th>
{% endmacro %}

{% block main %}

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        {% block thead %}
        {{ th("User (%i)" % users|length, 'name') }}
        {{ th("Admin", 'admin') }}
        {{ th("Last Seen", 'last_activity') }}
        {{ th("Running (%i)" % running|length, 'running', colspan=2) }}
        {% endblock thead %}
      </tr>
    </thead>
    <tbody>
      <tr class="user-row add-user-row">
        <td colspan="12">
          <a id="add-users" role="button" class="col-xs-2 btn btn-default">Add Users</a>
          <span class="col-xs-offset-4 col-xs-3">
            <a id="start-all-servers" role="button" class="btn btn-primary col-xs-5 col-xs-offset-1">Start All</a>
            <a id="stop-all-servers" role="button" class="btn btn-danger col-xs-5 col-xs-offset-1">Stop All</a>
          </span>
          <a id="shutdown-hub" role="button" class="col-xs-2 col-xs-offset-1 btn btn-danger">Shutdown Hub</a>
        </td>
      </tr>
      {% for user in users %}
      <tr class="user-row{% if allow_named_servers %} default-server-row{% endif %}" id="user-{{user.name}}" data-user="{{ user.name }}" data-admin="{{user.admin}}">
      {% block user_row scoped %}
      <td class="name-col col-sm-2">{{user.name}}</td>
      <td class="admin-col col-sm-2">{% if user.admin %}admin{% endif %}</td>
      <td class="time-col col-sm-3">
        {%- if user.last_activity -%}
        {{ user.last_activity.isoformat() + 'Z' }}
        {%- else -%}
        Never
        {%- endif -%}
      </td>
      <td class="server-col col-sm-2 text-center">
        <a role="button" class="stop-server btn btn-xs btn-danger{% if not user.running %} hidden{% endif %} default-server" data-named_servers={% if allow_named_servers %}"true"{% else %}"false"{% endif %}>
        {% if allow_named_servers %}
        stop default server
        {% else %}
        stop server
        {% endif %}
        </a>
        <a role="button" class="start-server btn btn-xs btn-primary{% if user.running %} hidden{% endif %} default-server" data-named_servers={% if allow_named_servers %}"true"{% else %}"false"{% endif %}>
        {% if allow_named_servers %}
        start default server
        {% else %}
        start server</a>
        {% endif %}
      </td>
      <td class="server-col col-sm-1 text-center">
        {% if admin_access %}
        <a role="button" class="access-server btn btn-xs btn-primary{% if not user.running %} hidden{% endif %} default-server" data-named_servers={% if allow_named_servers %}"true"{% else %}"false"{% endif %}>
        {% if allow_named_servers %}
        access default server
        {% else %}
        access server
        {% endif %}
        </a>
        {% endif %}
      </td>
      <td class="edit-col col-sm-1 text-center">
        <a role="button" class="edit-user btn btn-xs btn-primary">edit{% if allow_named_servers %} {{ user.name }}{% endif %}</a>
      </td>
      <td class="edit-col col-sm-1 text-center">
        {% if user.name != current_user.name %}
        <a role="button" class="delete-user btn btn-xs btn-danger">delete{% if allow_named_servers %} {{ user.name }}{% endif %}</a>
        {% endif %}
      </td>
      </tr>
      {% if allow_named_servers %}
      {% for spawner in user.orm_user._orm_spawners %}
      {% if spawner.name %}
      <tr class="user-row" data-user="{{user.name}}" data-admin="{{user.admin}}">
     {#  {% block user_row scoped %}  #}
      <td class="name-col col-sm-2">  </td>
      <td class="admin-col col-sm-2">   </td>
      <td class="time-col col-sm-3">
        {%- if spawner.last_activity -%}
        {{ spawner.last_activity.isoformat() + 'Z' }}
        {%- else -%}
        Never
        {%- endif -%}
      </td>
      <td class="server-col col-sm-2 text-center">
        <a role="button" class="stop-server btn btn-xs btn-danger{% if not spawner.state %} hidden{% endif %}" id="stop-{{ spawner.name }}">stop {{ spawner.name }}</a>
        <a role="button" class="start-server btn btn-xs btn-primary{% if spawner.state %} hidden{% endif %}" id="start-{{ spawner.name }}">start {{ spawner.name }}</a>
      </td>
      <td class="server-col col-sm-1 text-center">
        {% if admin_access %}
        <a role="button" class="access-server btn btn-xs btn-primary{% if not spawner.state %} hidden{% endif %}" id="access-{{ spawner.name }}">access server</a>
        {% endif %}
      </td>
      <td class="edit-col col-sm-1 text-center">
        <!-- edit user button empty for named servers -->
      </td>
      <td class="edit-col col-sm-1 text-center">
        <!-- delete user button empty for named servers -->
      </td>
      </tr>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endblock user_row %}
  {% endfor %}
  </tbody>
  </table>
</div>

{% call modal('Delete User', btn_class='btn-danger delete-button') %}
  Are you sure you want to delete user <span class="delete-username">USER</span>?
  This operation cannot be undone.
{% endcall %}

{% call modal('Stop All Servers', btn_label='Stop All', btn_class='btn-danger stop-all-button') %}
  Are you sure you want to stop all your users' servers? Kernels will be shutdown and unsaved data may be lost.
{% endcall %}

{% call modal('Start All Servers', btn_label='Start All', btn_class='btn-primary start-all-button') %}
  Are you sure you want to start all servers? This can slam your server resources.
{% endcall %}

{% call modal('Shutdown Hub', btn_label='Shutdown', btn_class='btn-danger shutdown-button') %}
  Are you sure you want to shutdown the Hub?
  You can choose to leave the proxy and/or single-user servers running by unchecking the boxes below:
  <div class="checkbox">
    <label>
      <input type="checkbox" class="shutdown-proxy-checkbox">Shutdown proxy
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" class="shutdown-servers-checkbox">Shutdown single-user-servers
    </label>
  </div>
{% endcall %}

{% macro user_modal(name, multi=False) %}
{% call modal(name, btn_class='btn-primary save-button') %}
<div class="form-group">
  <{%- if multi -%}
    textarea
    {%- else -%}
    input type="text"
    {%- endif %}
    class="form-control username-input"
    placeholder="{%- if multi -%} usernames separated by lines{%- else -%} username {%-endif-%}">
  {%- if multi -%}</textarea>{%- endif -%}
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" class="admin-checkbox">Admin
  </label>
</div>
{% endcall %}
{% endmacro %}

{{ user_modal('Edit User') }}

{{ user_modal('Add Users', multi=True) }}

{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
require(["admin"]);
</script>
{% endblock %}
