#login-main {
    form {
        margin: 8px auto;
        margin-top: 20%;
        width: 350px;
        font-size: large;
    }
    

    .input-group, input[type=text], button {
        width: 100%;
    }

    .input-group-addon {
        width: 100px;
    }

    input:focus {
        z-index: 5;
    }
    
    .pwd-group {
        margin-top: -1px;
    }
    
    input[type=submit] {
        margin-top: 16px;
    }
}


.message {
    color:orangered;
    font-weight:bold;
    margin:0 1em 1em 1em;
    text-align: center;
}

.auth-form-header {
    position: relative;
    padding: 10px 20px;
    margin: 0;
    color: #fff;

    background: @brand-primary; /* Old browsers */
    background: linear-gradient(to bottom,  @brand-primary 0%, darken(@brand-primary, 5%) 100%); /* W3C */


    border-radius: 4px 4px 0 0;
}

form {
    border-radius: 4px;
    border: none;
}

.auth-form-header h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    border:none;
}


.auth-form-body {
    padding: 20px;
    font-size: 14px;
    border: thin silver solid;
    border-top:none;
    border-radius: 0 0 4px 4px;
}
